.listContainer {
  background-color: white;
  border-radius: 20px;
  margin: auto;
  margin-bottom: 15px;
  width: 50%;
  padding-bottom: 35px;
  box-shadow: 0px 6px 15px rgb(34 33 33 / 49%);
}

.listHead {
  border-bottom: 1px solid #d4d4d4;
  text-align: center;
  padding-top: 1px;
}

.listTitle {
  font-size: 30px;
}

.footerTotal {
  margin-top: 20px;
  border-bottom: solid 1px #d4d4d4;
  border-top: solid 1px #d4d4d4;
}

.totalContainer {
  display: flex;
  justify-content: space-between;
  margin: 0 20px 0 20px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.listButton {
  background-color: #3b74f2;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  width: 80%;
  outline: none;
  cursor: pointer;
}

.freteContainer {
  display: flex;
}

.freteContainer h3 {
  margin: 0 auto 20px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  background-color: #c7ffa6;
  color: #277a02;
  border-radius: 20px;
  font-size: 15px;
}
