.cardContainer {
  display: flex;
  flex-direction: row;
  background-color: transparent;
}

.imageContainer {
  border: 1px solid #d4d4d4;
  margin: 30px 30px 0;
  padding: 0 15px 0 15px;
}

.image {
  background-color: white;
  max-width: 300px;
  max-height: 150px;
  width: auto;
  height: auto;
}

.cardProduct {
  text-transform: uppercase;
  margin-top: 30px;
}

.cardPrice {
  margin: 5px 0 3px 0;
  font-size: 14px;
  color: #808080;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;

}

.cardDiscount {
  margin-top: 3px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  
}
